/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.min.css';
div {
    padding-top: 4%;
    padding-right: 4%;
    padding-bottom: 4%;
    padding-left: 4%;
    background-color: #090909;
}
body {
    background-color: #090909;
    color: #AFBCCE;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
}
cardBack {
    background-color: #AFBCCE; 
}
img {
    border-radius: 1%;
 }
 .bg {
     background-image: url("https://github.com/aashmikamali/AashmikaMaliWebsite/blob/master/aashmika-website/src/skyline.jpg?raw=true");
     /* Full height */
     height: 100%; 

     /* Center and scale the image nicely */
     background-position: center;
     background-repeat: no-repeat;
     background-size: cover;
 }
.introCard{
    background-color: white; 
    color: #090909;
}
h1.size{
    font-size:8vw;
}
h5.size{
    font-size:2vw;
}