/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.min.css';
div {
    padding-top: 50px;
    padding-right: 50px;
    padding-bottom: 50px;
    padding-left: 50px;
    background-color: #090909;
}
body {
    background-color: #090909;
    color: #AFBCCE;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
}
cardBack {
    background-color: #AFBCCE; 
}
img {
    border-radius: 10px;
 }
 .bg {
     background-image: url("https://lh3.googleusercontent.com/frv6KYsoY9AqodtCUK0YWNZZeCWTQ_lIQwoDVfRxcRTO8v8dxH3AIJxqz7z_2y4THbNNhIVQZtLERc7p3Ahs=w1920-h887-rw");
     /* Full height */
     height: 100%; 

     /* Center and scale the image nicely */
     background-position: center;
     background-repeat: no-repeat;
     background-size: cover;
}
.introCard{
    background-color: white; 
    color: #090909;
}