<!-- <div class="container">

    <div><button mat-raised-button color="primary">Test</button></div>
  </div> -->
<!-- <my-nav></my-nav> -->
<br>
<br>
<div>
  <img class="profpic2"
    src="https://github.com/aashmikamali/AashmikaMaliWebsite/blob/master/aashmika-website/src/app/profpic.jpg?raw=true">
  <img class="name"
    src="https://github.com/aashmikamali/AashmikaMaliWebsite/blob/master/aashmika-website/src/app/images/Name.png?raw=true">
  <a href="https://www.linkedin.com/in/aashmika-mali-227ba4126/" class="fa fa-linkedin-square contactCons1"
    style="font-size:2.5vw;color:#0077B5"></a>
  <i class="fa fa-linkedin-square" style="font-size:5vw;color:#090909;visibility: hidden"></i>
  <a href="https://github.com/aashmikamali" class="fa fa-github-square contactCons2"
    style="font-size:2.5vw;color:white"></a>
  <i class="fas fa-linkedin-square" style="font-size:6vw;color:#090909;visibility: hidden"></i>
  <a href="mailto:aashmikamali@gmail.com? subject=subject text" class="fa fa-envelope contactCons3"
    style="font-size:2.5vw;color:#B23121"></a>
  <!-- Tab navigation -->
  <!-- <img src="https://www.clipartmax.com/png/middle/146-1469833_wall-colour-polygon-art-deer.png" alt="nvsinvosnvifos"> -->

  <!-- <div>
    <div matRipple [matRippleTrigger]="trigger" class="my-ripple-container">
      This is the ripple container, but not the trigger element for ripples.
    </div>
  
    <div #trigger></div>
  </div> -->
  <img>
  <mat-tab-group dynamicHeight="true">
    <mat-tab label="Projects">
      <div class="card">
        <h2 class="card-title" style="font-size:2vw;">PCB Design</h2>
        <div class="card-body">
          <p>
            Below are some of the PCBs I have designed circuitry for and layed out:
          </p>
          <h5 style="font-size:1.5vw;">
            MowAI Wheel Control PCB with three "fingers" for detachable TOF sensor circuitry for object detection:
          </h5>
          <p>
            <br>
            Top/Bottom-3D
            <br>
            <img
              src="https://github.com/aashmikamali/AashmikaMaliWebsite/blob/master/aashmika-website/src/images/PCBs/Wheel_control_top_3d.png?raw=true"
              width=50% height=50%>
            <img
              src="https://github.com/aashmikamali/AashmikaMaliWebsite/blob/master/aashmika-website/src/images/PCBs/Wheel_control_bottom_3d.png?raw=true"
              width=49% height=49%>
            <br>
            Top/Bottom-2D
            <br>
            <img
              src="https://github.com/aashmikamali/AashmikaMaliWebsite/blob/master/aashmika-website/src/images/PCBs/Wheel_control_top.png?raw=true"
              width=50% height=50%>
            <img
              src="https://github.com/aashmikamali/AashmikaMaliWebsite/blob/master/aashmika-website/src/images/PCBs/Wheel_control_bottom.png?raw=true"
              width=50% height=50%>
          </p>
          <br>
          <h5 style="font-size:1.5vw;">
            Other Boards I have designed
          </h5>
          <p>
            USB to UART Interface Board (Top and Panel) & Force Sensor Controller Board (Top View)
            <br>
            <img
              src="https://github.com/aashmikamali/AashmikaMaliWebsite/blob/master/aashmika-website/src/images/PCBs/pcb_usb_to_uart.jpg?raw=true"
              width=20% height=20%>
            <img
              src="https://github.com/aashmikamali/AashmikaMaliWebsite/blob/master/aashmika-website/src/images/PCBs/panel_usb_to_uart.jpg?raw=true"
              width=39.5% height=39.5%>
            <img
              src="https://github.com/aashmikamali/AashmikaMaliWebsite/blob/master/aashmika-website/src/images/PCBs/controller_3d.jpg?raw=true"
              width=40% height=40%>
            <br>
          </p>
        </div>
      </div>
      <div class="card">
        <h2 class="card-title" style="font-size:2vw;">Project Descriptions and Videos</h2>
        <div class="card-body">
          <h5 class="card-title" style="font-size:2vw;">MowAI - Robotic Platform - Dec 2018</h5>
          <p class="card-text" style="font-size:1vw;">MowAI is my newest project that incorporates the design of my
            motor control
            circuitry, using the STMF320 microcontroller. The goal of this project is to have lawn mowing robot that can
            be remote controlled
            and have obstacle detection abilities as well as motors to change the direction and location of the bot.
            Each wheel of the bot
            will have 2 motors, an encoder and a potentiometer, an accelerometer and gyroscope, and 2 TOF sensors.
            The PCB for this project is displayed at the top of the page!
            The following are some of the tasks I have completed with regards to MowAI.
            <br>
            • Schematic design and layout of board assembly incorporating embedded servo motor control and H-bridge
            PWM control for motion using STM32F0 microcontroller
            <br>
            • Developed code to implement servo control using potentiometer feedback, I2C and SPI interface to MEMS
            sensors
            <br>
            • Power supply design and layout for voltage rails with low quiescent current for battery applications using
            WEBENCH
          </p>
        </div>
      </div>
      <div class="card-group">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title" style="font-size:2vw;">Claw Machine Bot - Dec 2018</h5>
            <p class="card-text" style="font-size:1vw;">The following three videos explain my latest school project, the Claw
              Machine Bot.
              This project was the culmination of first year, first term Mechatronics Engineering at Waterloo, and was
              a
              creative way
              to make a machine or system comprising of mechatronic components. It was done through the use of Lego
              Mindstorms
              and other materials to build the complete system.
              <br>
              • Designed, built, and programmed a robot capable of competing against a user by collecting objects of a
              certain colour
              <br>
              • Created algorithm in C to pick and place a coloured object using EV3 motors, sensors and controllers
            </p>
          </div>
        </div>
      </div>
      <div class="card-group">
        <div class="card">
          <iframe width="100%" height="150%" src="https://www.youtube.com/embed/cvmEfgeaSk4" frameborder="0"
            allow="encrypted-media" allowfullscreen></iframe>
          <div class="card-body">
            <h5 class="card-title" style="font-size:1.5vw;">Free Play Mode</h5>
            <p class="card-text" style="font-size:.75vw;">This explains and goes through the freeplay mode for the
              Claw
              Machine Bot.
              This mode simulates traditional Claw Machine Gamelplay, in which the user has a certain amount of time
              to
              move the
              claw wherever on the playing field, then drop with the press of a button.
            </p>
          </div>
        </div>
        <div class="card">
          <iframe width="100%" height="100%" src="https://www.youtube.com/embed/yIXd927oO-0" frameborder="0"
            allow="encrypted-media" allowfullscreen></iframe>
          <div class="card-body">
            <h5 class="card-title" style="font-size:1.5vw;">Autonomous Mode</h5>
            <p class="card-text" style="font-size:.75vw;">This explains and goes through the autonomous mode for the
              Claw
              Machine Bot.
              This mode elevates the traditional claw machine by providing an extra challenge of selecting a ball of
              the
              correct
              colour in a short amount of time, whilst playing against the machine!
            </p>
          </div>
        </div>
        <div class="card">
          <iframe width="100%" height="100%" src="https://www.youtube.com/embed/YznppbgOHTc" frameborder="0"
            allow="encrypted-media" allowfullscreen></iframe>
          <div class="card-body">
            <h5 class="card-title" style="font-size:1.5vw;">Demo Day - Full Demo</h5>
            <p class="card-text" style="font-size:.75vw;">This goes through a demo day presentation of the Claw
              Machine
              Bot!
            </p>
          </div>
        </div>
      </div>

      <div class="card-group">
        <div class="card">
          <iframe width="100%" height="100%" src="https://www.youtube.com/embed/3L8G3GeqNk0" frameborder="0"
            allow="encrypted-media" allowfullscreen></iframe>
          <div class="card-body">
            <h5 class="card-title" style="font-size:2vw;">Sumo Robot Challenge - Nov 2017</h5>
            <p class="card-text" style="font-size:1vw;">Robotics 12 Final isp: Designing and assembling a sumo bot
              that
              would push out other robots
              in a ring, based on the use of ultrasonic distance sensors, and IR sensors to detect the lines around
              the
              ring.
              <br>
              • Created an Arduino based Sumo-bot to compete with other Sumo-bots
              <br>
              • Used ultrasonic sensors to detect other robots and IR sensors to sense the outer ring
              <br>
              • Optimized mechanical robot design by implementing a conical skirt for defence and PWM drive for
              optimal
              position control
              <br>
              My robot is the white robot with the circular base, that remains the last one standing!
            </p>
          </div>
        </div>
        <div class="card">
          <iframe width="100%" height="100%" src="https://www.youtube.com/embed/O3kmpEEyGTw" frameborder="0"
            allow="encrypted-media" allowfullscreen></iframe>
          <div class="card-body">
            <h5 class="card-title" style="font-size:2vw;">Autonomous Line Tracing Robot - Jan 2017</h5>
            <p class="card-text" style="font-size:1vw;">Computer engineering 12: Designed, assembled and programmed a
              robot
              to achieve functionality.
              Implemented and fine-tuned control algorithm to increase speed.
              <br>
              • Created an Arduino based robot that completed a circuit in the shortest time amongst peers
              <br>
              • Implemented line detection using analog values read from LDRs coupled with LEDs
              <br>
              • Devised control scheme in Arduino code to maximize speed using analog data from three LDR/LED pairs

            </p>
          </div>
        </div>
      </div>
      <div class="card-group">
        <div class="card">
          <iframe width="100%" height="100%" src="https://www.youtube.com/embed/THd2zA7cIZg" frameborder="0"
            allow="encrypted-media" allowfullscreen></iframe>
          <div class="card-body">
            <h5 class="card-title" style="font-size:2vw;">Traffic Light System - Jun 2016</h5>
            <p class="card-text" style="font-size:1vw;">Computer engineering 11: Designed, assembled and programmed a
              realistic miniaturized traffic
              light intersection using Arduino Uno.
              <br>
              • Created a realistic traffic light system using servos, LDRs, IR sensors and LEDs, controlled by an
              Arduino
              <br>
              • Filtered ADC inputs by averaging, used PWM to control dimming of street lights/LEDs and to ramp
              up/down car
              speed
              <br>
              • Implemented a state machine for system control and polled for pedestrian cross-walk button

            </p>
          </div>
        </div>
        <div class="card">
          <iframe width="100%" height="100%" src="https://www.youtube.com/embed/VLvVe2VZnuY" frameborder="0"
            allow="encrypted-media" allowfullscreen></iframe>
          <div class="card-body">
            <h5 class="card-title" style="font-size:2vw;">Whack-a-mole - Jan 2015</h5>
            <p class="card-text" style="font-size:1vw;">Grade 9 Science project: To demonstrate series and parallel
              electrical circuits, designed assembled
              and programmed an arcade style gaming machine.
            </p>
          </div>
        </div>
      </div>
      <div class="card-group">
        <h1 style="font-size:4vw;">3D Print and Design</h1>
        <p class="title" style="font-size:2vw;">
          Here are some of the 3D models and designs I've made and printed using my personal filament printer.
        </p>
        <div class="card">
          <div class="introCard">
            <h1 style="font-size:4vw;">Ice Bear Phone Stand Holder</h1>
            <p class="title" style="font-size:2vw;">
              This phone stand will allow wired charging while holding your phone in both landscape and portrait
              orientations. It will also hold your phone at a comfortable angle of 65 to 70 degrees.
            </p>
            <img
              src="https://github.com/aashmikamali/AashmikaMaliWebsite/blob/master/aashmika-website/src/3d_bear_image_printed.jpg?raw=true"
              width=31% height=31%>
            <img
              src="https://github.com/aashmikamali/AashmikaMaliWebsite/blob/master/aashmika-website/src/3d_bear_orthographic_views.JPG?raw=true"
              width=39% height=39%>
            <img
              src="https://github.com/aashmikamali/AashmikaMaliWebsite/blob/master/aashmika-website/src/holding_phone_stand.jpeg?raw=true"
              width=28% height=28%>
            <p class="body" style="font-size:2vw;">
              Download the updated STL file here:
              <a href="https://github.com/aashmikamali/AashmikaMaliWebsite/raw/master/aashmika-website/src/Ice_bear_phone_stand.STL"
                download>
                Ice_bear_phone_stand.stl
              </a>
            </p>
          </div>
        </div>
      </div>
      <br>
      <br>
    </mat-tab>
    <mat-tab label="Experience">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title" style="font-size:2vw;">Magna - Hardware Engineering Coop</h5>
          <p class="card-text" style="font-size:1vw;"> My term at Magna Mechatronics Mirrors and Lighting as part of the
            new
            technology and innovation department was a valuable experience with a chance to demonstrate my design
            experience.
            In addition to developing the layouts for a couple board, I was able to solder to a much higher standard and
            smaller
            package size (0402) and gain experience in harnessing and electrical prototyping. The following lists some
            of the
            tasks I accomplished at Magna:
            <br>
            • Schematic design and board layout in Altium for embedded micro-force sensing in automotive applications
            and
            USB to UART interface using FTDI IC
            <br>
            • Assembled, tested and troubleshot PCBs with surface mount components and 0402 passives 
            <br>
            • Designed and assembled wiring harnesses based on current ratings
            <br>
            • Wrote test code and drivers in C to support board bring-up
            <br>
            • Developed application software on Arduino and created board prototype to implement PWM control by driving
            FETs
            <br>
            • Used multimeter, power supply, signal generator, oscilloscope and thermal imager to bring-up and
            troubleshoot
            board assemblies
            <br>
            • Configured radar SDK on raspberry pi to evaluate range and limitations of obstacle, gesture and biometrics
            detection
            <br>
            • Managed and executed parts procurement, organized and updated inventory
            <br>
            <br>
          </p>
        </div>
      </div>
      <div class="card">
        <div class="card-body">
          <h5 class="card-title" style="font-size:2vw;">Midnight Sun Solar Car Team - Hardware Team Lead- Dec 2018</h5>
          <p class="card-text" style="font-size:1vw;"> As part of the university of Waterloo's solar car team, 
            I help design the circuitry involved with the battery management, power distribution and driver controls
            of our car. Competing in FSGP 2020 will be MS-XIV - A 4 seater solar car - and our newest addition Midnight Sun.
            The following are some of the things I have done on the team.
            <br>
            • Designed, assembled and tested boards for driver controls, power distribution and DCDC battery pack converter
            <br>
            • Implemented EMI filter circuitry for driver control interface boards
            <br>
            • Placed third in multi-occupant category at the Formula Sun Grand-Prix
            <br>
            • Worked on wiring harnesses, troubleshooting and assembling PCBs during competition to pass scrutineering of mechanical and electrical functionality
            <br>
            • Updated and maintained component/diagrams for git version controlled Altium libraries
            <br>
            <br>
          </p>
          <h5 style="font-size:1vw;">
            Midnight Sun Boards: Pedal Control Interface & Power Distribution Boards
          </h5>
          <p>
            <h6>Top/Bottom-Power Distribution</h6>
            <br>
            <br>
            <img
              src="https://github.com/aashmikamali/AashmikaMaliWebsite/blob/master/aashmika-website/src/images/PCBs/Power_Distribution_front.jpg?raw=true"
              width=40% height=40%>
            <img
              src="https://github.com/aashmikamali/AashmikaMaliWebsite/blob/master/aashmika-website/src/images/PCBs/Power_Distribution_back.jpg?raw=true"
              width=38% height=38%>
            <br>
            This board deals with distributing power to all of the low voltage systems (12 volt systems) in the solar car. This includes the driver controls, the lights,
            the horn and even the battery management system.
            <br>
            <br>
            <h6>Top/Bottom-Pedal Interface</h6>
            <br>
            <br>
            <img
              src="https://github.com/aashmikamali/AashmikaMaliWebsite/blob/master/aashmika-website/src/images/PCBs/Pedal_Board_top.png?raw=true"
              width=31% height=31%>
            <img
              src="https://github.com/aashmikamali/AashmikaMaliWebsite/blob/master/aashmika-website/src/images/PCBs/Pedal_Board_top_3d.png?raw=true"
              width=34% height=34%>
            <img
              src="https://github.com/aashmikamali/AashmikaMaliWebsite/blob/master/aashmika-website/src/images/PCBs/Pedal_Board_bottom_3d.png?raw=true"
              width=31% height=31%>
              <br>
              The pedal board receives inputs from the angle of the brake and acceleration pedals based on the turn of a potentiometer placed within. They also have 
              active low pass filters to make sure the received signal is uninterrupted by the noise caused from the motors and radio communications.
              <br>
              <br>
              <h6>Top/Bottom-2d-DCDC Battery Pack converter</h6>
              <br>
              <br>
              <img
              src="https://github.com/aashmikamali/AashmikaMaliWebsite/blob/master/aashmika-website/src/images/PCBs/dcdc-Top-2d.jpg?raw=true"
              width=100% height=100%>
              <br>
            <img
              src="https://github.com/aashmikamali/AashmikaMaliWebsite/blob/master/aashmika-website/src/images/PCBs/dcdc-bottom-2d.jpg?raw=true"
              width=100% height=100%>
              <br>
              <br>
              <h6>Top/Bottom-3d-DCDC Battery Pack converter</h6>
              <img
              src="https://github.com/aashmikamali/AashmikaMaliWebsite/blob/master/aashmika-website/src/images/PCBs/dcdc-top-3d.jpg?raw=true"
              width=100% height=100%>
              <br>
            <img
              src="https://github.com/aashmikamali/AashmikaMaliWebsite/blob/master/aashmika-website/src/images/PCBs/dcdc-bottom-3d.jpg?raw=true"
              width=100% height=100%>
              <br>
              This project takes the 115V nominal power coming from the battery, and uses a DCM dc-dc converter to supply 13.5 volts trimmed with about 16A out. This 16A is then
              sent to power distribution and provides all the power for the low voltage systems in the car. Common mode filters (including using y capacitor),
              common mode chokes, effective bulk capacitor layout and high current rating shank terminals were all used for an effective design.
              <br>
            </p>
        </div>
      </div>
    </mat-tab>
    <mat-tab label="About Me">
      <div class="card">
        <div style="font-size:1vw;">
          <h1 style="font-size:2.5vw;">A little more about me!</h1>
          <br>
          <h2 style="font-size:1.5vw;">Technical Skills</h2>
          The following outlines some of the technical skills I have picked up completing my projects and learning
          through my work experience.
          <br>
          <br>
          <h3 style="font-size:1vw;">Programming Skills</h3>
          • C
          <br>
          • C++
          <br>
          • Java
          <br>
          • HTML, CSS, Javascript, Angular
          <br>
          • SQL
          <br>
          • Python
          <br>
          • Git
          <br>
          <br>
          <h3 style="font-size:1vw;">Hardware Skills</h3>
          • Altium
          <br>
          • Soldering
          <br>
          • LTSpice
          <br>
          • PCB Assembly and Reflow
          <br>
          • Circuit Design
          <br>
          • Lab Equipment:
          <br>
          - Multimeter
          <br>
          - Oscilloscope
          <br>
          - Power supply
          <br>
          - Signal Generator
          <br>
          <br>
          <h3 style="font-size:1vw;">Design Skills</h3>
          • Solidworks
          <br>
          • AutoCAD
          <br>
          • GrabCAD
          <br>
          • Blender
          <br>
          <br>
          <h2 style="font-size:1.5vw;">Midnight Sun</h2>
          Being on the hardware team on Midnight Sun Solar car team has been an amazing way to experience the ingenuity
          of
          hardware engineering, and help build an electric car from scratch! Our last competition in Austin, Texas at
          the
          Circuit of the Americas was an amazing time and a true test of troubleshooting and perseverence. Checkout
          https://www.uwmidsun.com/
          to peek at MS-14 our newest addition under development!
        </div>
      </div>
    </mat-tab>
    <mat-tab label="Contact Me">

      <div class="card"> Check out my github, linkedin or email me using the icons in the top right corner!
      </div>
    </mat-tab>

  </mat-tab-group>
  <br>
  <p style="color:#AFBCCE">
    Site design and developement by Aashmika Mali | Copyright © 2019 Aashmika Mali | Made with Angular
    <a class="fab fa-angular" style="font-size:1.5vw;color:#AFBCCE"></a> <!-- angular icon does not exist -->
  </p>
</div>