<!--The content below is only a placeholder and can be replaced.-->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<div class="div">
  <div class="bg" style="text-align:center">

    <img src="https://github.com/aashmikamali/AashmikaMaliWebsite/blob/master/aashmika-website/src/profpic.jpg?raw=true"
      width=30% height=30%>
    <p>
    </p>
    <p>
      <a href="https://www.linkedin.com/in/aashmika-mali-227ba4126/" class="fa fa-linkedin-square" style="font-size:5vw;color:#0077B5"></a>
      <i class="fa fa-linkedin-square" style="font-size:3vw;color:#090909;visibility: hidden"></i>
      <a href="https://github.com/aashmikamali" class="fa fa-github-square" style="font-size:5vw;color:white"></a>
      <i class="fa fa-linkedin-square" style="font-size:3vw;color:#090909;visibility: hidden"></i>
      <a href="https://plus.google.com/+AashmikaMali" class="fa fa-google-plus" style="font-size:5vw;color:#B23121"></a>
    </p>
  </div>
  <div class="card">
    <div class="introCard" style="font-size:2vw;">
      <h1 style="font-size:4vw;">Hey! My name's Aashmika Mali</h1>
      <p class="title" >
        I'm a student at the Universtity of Waterloo for the Mechatronics Engineering program.
      </p>

      Make sure to check out the following Youtube videos. They display some of the engineering projects I've worked on over the
      last few years. :)
    </div>
  </div>
<br>
  <div class="card">
      <div class="card-body">
         <h5 class="card-title" style="font-size:2vw;">Claw Machine Bot - Dec 2018</h5>
         <p class="card-text" style="font-size:1vw;">The following three videos explain my latest project, the Claw Machine Bot.
          This project was the culmination of first year, first term Mechatronics Engineering at Waterloo, and was a creative way
          to make a machine or system comprising of mechatronic components. It was done through the use of Lego Mindstorms
          and other materials to build the complete system.
          </p>
        </div>
      </div>

  <div class="card-group">
      <div class="card">
            <iframe width="100%" height="150%" src="https://www.youtube.com/embed/cvmEfgeaSk4" frameborder="0" allow="encrypted-media"
              allowfullscreen></iframe>
              <div class="card-body">
              <h5 class="card-title" style="font-size:1.5vw;">Free Play Mode</h5>
              <p class="card-text" style="font-size:.75vw;">This explains and goes through the freeplay mode for the Claw Machine Bot.
                This mode simulates traditional Claw Machine Gamelplay, in which the user has a certain amount of time to move the 
                claw wherever on the playing field, then drop with the press of a button.
              </p>
            </div>
      </div>
      <div class="card">
              <iframe width="100%" height="100%" src="https://www.youtube.com/embed/yIXd927oO-0" frameborder="0" allow="encrypted-media"
                allowfullscreen></iframe>
              <div class="card-body">
                <h5 class="card-title" style="font-size:1.5vw;">Autonomous Mode</h5>
                <p class="card-text" style="font-size:.75vw;">This explains and goes through the autonomous mode for the Claw Machine Bot.
                  This mode elevates the traditional claw machine by providing an extra challenge of selecting a ball of the correct 
                  colour in a short amount of time, whilst playing against the machine!
                </p>
              </div>
      </div>
      <div class="card">
          <iframe width="100%" height="100%" src="https://www.youtube.com/embed/YznppbgOHTc" frameborder="0" allow="encrypted-media"
            allowfullscreen></iframe>
          <div class="card-body">
            <h5 class="card-title" style="font-size:1.5vw;">Demo Day - Full Demo</h5>
            <p class="card-text" style="font-size:.75vw;">This goes through a demo day presentation of the Claw Machine Bot!
            </p>
        </div>
      </div>
  </div>

  <div class="card-group">
    <div class="card">
      <iframe width="100%" height="100%" src="https://www.youtube.com/embed/3L8G3GeqNk0" frameborder="0" allow="encrypted-media"
        allowfullscreen></iframe>
      <div class="card-body">
        <h5 class="card-title" style="font-size:2vw;">Sumo Robot Challenge - Nov 2017</h5>
        <p class="card-text" style="font-size:1vw;">Robotics 12 Final isp: Designing and assembling a sumo bot that would push out other robots
          in a ring, based on the use of ultrasonic distance sensors, and IR sensors to detect the lines around the ring.
        </p>
      </div>
    </div>
    <div class="card">
      <iframe width="100%" height="100%" src="https://www.youtube.com/embed/O3kmpEEyGTw" frameborder="0" allow="encrypted-media"
        allowfullscreen></iframe>
      <div class="card-body">
        <h5 class="card-title" style="font-size:2vw;">Autonomous Line Tracing Robot - Jan 2017</h5>
        <p class="card-text" style="font-size:1vw;">Computer engineering 12: Designed, assembled and programmed a robot to achieve functionality.
          Implemented and fine-tuned control algorithm to increase speed.
        </p>
      </div>
    </div>
  </div>
  <div class="card-group">
    <div class="card">
      <iframe width="100%" height="100%" src="https://www.youtube.com/embed/THd2zA7cIZg" frameborder="0" allow="encrypted-media"
        allowfullscreen></iframe>
      <div class="card-body">
        <h5 class="card-title" style="font-size:2vw;">Traffic Light System - Jun 2016</h5>
        <p class="card-text" style="font-size:1vw;">Computer engineering 11: Designed, assembled and programmed a realistic miniaturized traffic
          light intersection using Arduino Uno.
        </p>
      </div>
    </div>
    <div class="card">
      <iframe width="100%" height="100%" src="https://www.youtube.com/embed/VLvVe2VZnuY" frameborder="0" allow="encrypted-media"
        allowfullscreen></iframe>
      <div class="card-body">
        <h5 class="card-title" style="font-size:2vw;">Whack-a-mole - Jan 2015</h5>
        <p class="card-text" style="font-size:1vw;">Grade 9 Science project: To demonstrate series and parallel electrical circuits, designed assembled
          and programmed an arcade style gaming machine.
        </p>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="introCard">
      <h1 style="font-size:4vw;">A little more about me!</h1>
      <p class="title" style="font-size:2vw;">
        Throughout high school, I had the oppurtunity of taking multiple engineering and robotics courses. These helped me realize
        my interest in robotics, and I chose to further pursue it by joining my school's vex robotics team. Along with engineering,
        I was able to take many computer science related courses, and develop my skills in java. 
        <!-- The following are some projects I had the chance to develop while completing these courses:  -->
      </p>
      <!-- My interests are:
      <ul>
        <li>
          Volleyball
        </li>
      </ul> -->
    </div>
  </div>
</div>