<!--The content below is only a placeholder and can be replaced.-->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<div class="div">
  <div style="text-align:center">
    <h1>
      {{ title }}
    </h1>
    <img src="https://lh6.googleusercontent.com/_rLr0BxnvcUCq0eFz1DgD7bWBkZ7dylhSPI7kIu5T5VuaEYiXvOUrRuV2RCP6pU67VUTcPUMpT7XyKBsItAU=w1920-h948-rw"
      width=400 height=400>
      <p>
        
      </p>
    <p>
        <i class="fa fa-linkedin-square" style="font-size:48px;color:#0077B5"></i>
    </p>
  </div>
  <div class="card-group">
    <div class="card cardBack" style="width: 41.5rem;">
      <iframe width="557" height="315" src="https://www.youtube.com/embed/3L8G3GeqNk0" frameborder="0" allow="encrypted-media"
        allowfullscreen></iframe>
      <div class="card-body">
        <h5 class="card-title">Sumo Robot Challenge - Nov 2017</h5>
        <p class="card-text">Robotics 12 Final isp: Designing and assembling a sumo bot that would push out other robots
          in a ring, based on the use of ultrasonic distance sensors, and IR sensors to detect the lines around the ring.
        </p>
      </div>
    </div>
    <div class="card cardBack" style="width: 41.5rem;">
      <iframe width="557" height="315" src="https://www.youtube.com/embed/O3kmpEEyGTw" frameborder="0" allow="encrypted-media"
        allowfullscreen></iframe>
      <div class="card-body">
        <h5 class="card-title">Autonomous Line Tracing Robot - Jan 2017</h5>
        <p class="card-text">Computer engineering 12: Designed, assembled and programmed a robot to achieve functionality.
          Implemented and fine-tuned control algorithm to increase speed.
        </p>
      </div>
    </div>
  </div>
  <div class="card-group">
    <div class="card cardBack" style="width: 41.5rem;">
      <iframe width="557" height="315" src="https://www.youtube.com/embed/THd2zA7cIZg" frameborder="0" allow="encrypted-media"
        allowfullscreen></iframe>
      <div class="card-body">
        <h5 class="card-title">Traffic Light System - Jun 2016</h5>
        <p class="card-text">Computer engineering 11: Designed, assembled and programmed a realistic miniaturized traffic
          light intersection using Arduino Uno.
        </p>
      </div>
    </div>
    <div class="card cardBack" style="width: 41.5rem;">
      <iframe width="557" height="315" src="https://www.youtube.com/embed/VLvVe2VZnuY" frameborder="0" allow="encrypted-media"
        allowfullscreen></iframe>
      <div class="card-body">
        <h5 class="card-title">Whack-a-mole - Jan 2015</h5>
        <p class="card-text">Grade 9 Science project: To demonstrate series and parallel electrical circuits, designed assembled
          and programmed an arcade style gaming machine.
        </p>
      </div>
    </div>
  </div>
</div>